/*reset css*/
*{padding: 0; margin: 0; border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside {display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea,select{font-family:inherit;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited {text-decoration: none;}
a:hover{text-decoration:none;}
ol, ul,li, menu {list-style: none;}
img {max-width: 100%;vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*----------------------------------------------------------------*/

/*-----------------------------header-----------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 5px 25px  rgb(65, 64, 64);
}
.header_container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    min-height: 70px;

}
.header_logo {
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
    width: 40px;
    height: 40px;
}

.menu_icon {
    display: none;
}

.menu_list {
    li {
        position: relative;
        margin: 0px 0px 0px 20px;
    }
}
.menu-link {
    color: #001704;
    font-size: 18px;
    text-transform: uppercase;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            // border-radius: 2px;
            background-color: #001704;
            bottom: 8px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}
/*-----------------------------------main---------------------------*/
body._lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100 vh;
    min-width: 100%; 
    display: flex;
    flex-direction: column; 
}




.main_content {
   padding: 70px 0px 30px 0px;
   
}
/*----------------title-block----------------*/
.fullscreen_title_block {
    min-height: 100vh;
    background: url(../images/img/title_block_background.jpg) center / cover no-repeat fixed;
    padding: 10% 5%;
    display: flex;
}
.fullscreen-body {
    background-color: transparent;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page_title {
    font-size: 2.5em;
    margin: 0px 0px 20px 0px;
}
.title_text {
    font-size: 1.5em;
}
 /*--------------sections---------------------*/
.section_blok._about,.section_blok._offer,.footer_body {
    max-width: 1200px;
    margin: 2em auto;
   
}
.offer_body,.about_body,.footer_body {
    padding: 20px 20px;
}


 /*----------------------ofer-----------------*/
.offer_element {
    margin-bottom: 2.5em;
}
.sub_title {
    font-size: 2em;
    margin-bottom: 1em;
    
}
.section_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}
.content_text {
    line-height: 1.5em;
    padding: 0 20px;
}
.img-offer-content {
    border-radius: 8px;
}

/*------------------------footer------------------------*/
.footer_body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 2fr 1fr 1fr;
    // grid-column-gap: 1em;
    // background-color: rgb(185, 184, 184);
  
.social-image {
    width: 30px;
    height: 30px;
    }
}


iframe {
    min-height: 30vh;
    width: 100%;
}
.contacts_info_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1.7em;
}
.contacts_wrapper {
    width: 30%;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
}
.contacts_title_paragraf {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.hr-contacts {
    display: block;
    height: 2px;
    width:100%;
    background-color: #000;
    margin-bottom: 1rem;
}
@media (min-width: 767px) {

    .menu_list {
        display: flex;
        align-items: center;
       li {
        padding: 10px 0;
       } 
    }
    .burger_social_media, .burger_contacts {
        display: none;
    }
    .img-offer-content {
        max-width: 50%;
    }
   
}
@media (max-width: 767px) {

    .menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }

        &::before,
        &::after{
            content: "";
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 50%;
            transform:scale(1) translate(0px, -50%);
        }
    }
    .menu_icon._active {
        span {
            transform: scale(0) translate(0px, -50%);
        }
        &::before{
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
    .menu_body._active {
        left: 0;
    }
    .menu_body {
        position: fixed;
        overflow: auto;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(15, 158, 96, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        
        &::-webkit-scrollbar {
            width: 0;
        }

        &::before {
            content: "";
            position: fixed;
            z-index: 2;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            background-color: rgb(230, 230, 230);
        }
    
    }

    .menu_list {
        li {
            margin: 0px 0px 30px 0px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .menu-link {
        font-size: 24px;
    }
    .fullscreen_title_block {
        min-height: 50vh;
    }
    .section_content {
        flex-direction: column;
    }
    .footer_body {
        display: flex;
        flex-direction: column;
    }  
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
/*------styli--do--popup--cookies*/

.d-none {
    opacity: 0;
    visibility: hidden;
  }
  
  .cookie_popup_body {
    position: fixed;
    width: 100vw;
    top: 65vh;
    z-index: 100;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 10px 30px 10px;
  }
  .cookie_popup_body .cookie_popup_content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(255, 255, 255);
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 2em;
    margin-left: 2em;
    -webkit-box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .cookie_popup_body .cookie_popup_content .cookie_popup_text {
    width: 80%;
    font-family: "Proza Libre", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: smaller;
  }
  .cookie_popup_body .cookie_popup_content .cookie_popup_text p.first {
    font-size: small;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .cookie_popup_body .cookie_popup_content .cookie_popup_text p.second {
    color: rgb(114, 110, 110);
    font-size: small;
  }
  .cookie_popup_body .cookie_popup_content .cookie_popup_text a.privacy_policy {
    font-size: small;
    font-weight: bold;
    color: rgb(239, 172, 172);
  }
  .cookie_popup_body .cookie_popup_content .cookie_popup_button {
    background-color: rgb(239, 172, 172);
    border-radius: 5px;
    border: 0;
    margin: 5px 15px;
    height: 3em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(0, 0, 0);
    font-family: "Proza Libre", sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: regular;
  }

  /*----------------------------------------------------------------*/